body {
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
}

.cst-nav-text {
    max-width: 240px;
}

.clickable-text:hover {
    cursor: pointer;
}
